@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Work+Sans:wght@300&display=swap');

/* Remove any default settings using the wildcard selector*/

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Cormorant Infant", sans-serif;
    font-weight: 300;
    color: #9E3D36;
}

main {
    background: url("../images/popcorn.jpg") no-repeat center center;
    background-size: cover;
    height: vh;
    width: vw;
    /* margin: 0 auto; */
}

.heading {
    font-family: "Work Sans", sans-serif;
    color: #9E3D36;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 250%;
    text-align: center;
    padding: 10px;
}

/* Design styles for categories area with 6 buttons for user to click on*/

.categories {
    width: vw;
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#start-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
    /* display: inline-block; */
    width: 15rem;
    border-radius: 50%;
    height: 10rem;
    margin: 2rem 1rem;
    border: 2px solid #9E3D36;
    background-color: #DDA0A4;
    color: #9E3D36;
    font-weight: 600;
    font-size: 150%;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
}

/* adapted from Brian Design Youtube tutorial on how to make a quiz app more details in the README file */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #DDA0A4;
    transition: transform 150ms;
    transform: scale(1.03);
}

a {
    text-decoration: none;
    color: #9E3D36;
}

/* Styles for social media links in the footer element */

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

footer i {
    color: #9E3D36;
    font-size: 150%;
}

/* styles for game question and answer box area for the quiz.html file*/

.score {
    width: 15%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* background-color: black; */
    padding: 10px;
    font-size: 130%;
}

.game-area {
    width: 75%;
    /* border: 1px solid black; */
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-around; */
}

/* adapated css flex styling from lines 154 - 157 from 80s Mixtape Quiz style.css file*/

.question-area {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DDA0A4;
    /* background-color: red;
    border: 1px solid black; */
    margin: 0 auto;
    font-size: 150%;
    border: 1px solid black;
    border-radius: 15px;
}

.answer-area {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background-color: green;
    border: 1px solid black; */
    margin: 0 auto;
}

.answer-box {
    height: 5rem;
    width: 20rem;
    border: 1px solid black;
    /*background-color: blue; */
    border-radius: 15px;
    background-color: #DDA0A4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.answer-box:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #DDA0A4;
    transition: transform 150ms;
    transform: scale(1.03);
}

.option-prefix {
    background-color: #9E3D36;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    border-radius: 10px;
}

.option-text {
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 150%;
}

#heads-up-display {
    width: vw;
    height: 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.question-count {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.score {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.timer {
    width: 15%;
    height: 15px;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid black;
    background-color: black; */
    padding: 10px;
}

/* Styles to display to the user for correct and incorrect answers when clicked */

.correct {
    background: linear-gradient(rgba(82, 247, 98, 0.9), rgba(24, 149, 34, 0.9))
}

.incorrect {
    background: linear-gradient(rgba(232, 35, 35, 0.9), rgba(222, 3, 3, 0.9))
}

/* Media queries for screen sizes of max width of 750px */

@media screen and (max-width: 750px) {
    /* main {
        height: auto;
    } */

    /* .categories {
        height: auto;
        padding: 0;
    } */

    /* .btn {
        min-height: 75px;
        width: 35%;
        margin: 0 auto;
    } */

    /* .score, .timer, .game-area {
        height: auto;
    }

    .question-area {
        max-height: 50px;
    }
    .answer-area {
        min-height: 75px;
    }
    
    .answer-box {
        max-height: 7vh;
        width: 75%;
    } */
}

@media screen and (max-width: 600px) {
    .btn {
        width: 10rem;
        border-radius: 50%;
        height: 10rem;
        /* margin: 2rem 1rem; */
        /* border: 2px solid #9E3D36;
        background-color: #DDA0A4;
        color: #9E3D36;
        font-weight: 600; */
        /* font-size: 130%; */
    }
}


    /* Media queries for screen sizes of max width of 400px */

    @media screen and (max-width: 400px) {

        /* main {
        width: 100vw;
    } */

        /* .categories {
            width: 75vw;
            margin: 0 auto;
        } */

        .btn {
            /* font-size: 100%; */
            /* font-weight: 600; */
            width: 8rem;
            height: 8rem;
        }

        /* .score, .timer, .game-area {
        height: auto;
    } */

        .question-area {
            height: 25vh;
            font-size: 130%;
        }

        /*

    .answer-area {
        max-height: 100px;
    }
    
    .answer-box {
        max-height: 15px;
        width: 75%;
    } */
    }

    @media screen and (min-width: 1100px) {
        .btn {
            width: 20rem;
            height: 10rem;
        }
        
        .answer-box {
            width: 25rem;
        }
    }